body {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Manuale', serif;
}

.navbar-top {
    font-family: 'Crimson Text', serif;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.navbar-footer {
    color: white;
    background-color: darkgrey;
    text-align: right;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

h1 {
    display: inline;
    font-family: 'Satisfy', cursive;
}

hr {
    border-radius: 5px;
    padding: 0.1rem;
    background: black;
}

h2 {
    display: inline;
    margin-right: 2.5rem;
}

img {
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: midnightblue;
}

.btn-primary {
    background-color: white;
    border: none;
    border-radius: 0px;
    color: black;
}

a:hover {
    color: black;
}

.offers {
    height: 300px;
    color: white;
    margin-bottom: 2rem;
}
.titles {
    color: white;
    top: 75%;
    position: relative;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 1);
    padding: 0.3rem 0.8rem;
    border: 1px solid black;
    background-color: rgba(1, 1, 1, 0.8);
}

.offer1 {
    background-image: url("/img/vert.jpg");
    background-repeat: repeat;
    background-size: 3px;
}

.offer2 {
    background-image: url("/img/bleu.jpg");
    background-repeat: repeat;
    background-size: 30px;
}

.offer3 {
    background-image: url("/img/noir.jpg");
    background-repeat: repeat;
    background-size: 75px;
}

.creation {
    margin: 0 5% 0 5%;
    background-image: url("/img/creation.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.contact {
    margin: 0 5% 0 5%;
    background-image: url("/img/contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#social a:hover {
    color: white;
}

#social a {
    color: black;
}

.fas {
    color: midnightblue;
}

.logo {
    position: absolute;
    top: 0%;
    left: 2%;
}