###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> npm / vite ###
/node_modules/
/public/build/
###< npm / vite ###

###> playwright ###
/test-results/
/playwright-report/
/playwright/.cache/
###< playwright ###

###> editor ###
.DS_Store
*.swp
###< editor ###
.deploy.env
